# APP
APP_NAME="SaveMyNotes"
TOKEN_SECRET="secret"
APP_URL=http://localhost:8000

# DB Connections
DB_HOST=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DB_PORT=""

# MAIL
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT="2525"
MAIL_USERNAME=""
MAIL_PASSWORD=""